@using DelitaTrade.Core.ViewModels;
@using System.Globalization
@using static DelitaTrade.Common.Constants.ReturnProtocolPayMethods;
@model ReturnProtocolInputModel

@{
    ViewData["Title"] = "Create Return Protocol";
    ViewData["CompanyObjectSearchUrl"] = Url.Action("CompanyObjects", "Search", null, Url.ActionContext.HttpContext.Request.Scheme);
    var today = DateTime.Now.ToString("yyyy-MM-dd");
    string dateFormat = "dd-MM-yyyy";
}

<head>
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
</head>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="ReturnProtocol" asp-action="Create" method="post">
            <div class="row">
                <div id="search" class="col-sm-6 mb-2">
                    <input asp-for="@Model.CompanyObjectName" class="form-label-add-edit" type="text" id="item-value" placeholder="Search object..." value="@Model.CompanyObjectName" />
                    <input asp-for="@Model.CompanyObjectId" type="hidden" id="item-id" value="@Model.CompanyObjectId" />
                    <span asp-validation-for="@Model.CompanyObjectName" class="text-danger"></span>
                    <ul id="result-list" class="search-list">
                    </ul>
                </div>

                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.TraderId" class="form-label-add-edit">Trader</label>
                    <select asp-for="@Model.TraderId" id="trader-input" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Traders, "Id", "Name"))">
                        <option value="">...</option>
                    </select>
                    <span asp-validation-for="@Model.TraderId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <label asp-for="@Model.PayMethod" class="form-label-add-edit">Pay method</label>
                <select asp-for="@Model.PayMethod" id="pay-method" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.PayMethods))">
                    <option value="">...</option>
                </select>
                <span asp-validation-for="@Model.PayMethod" class="text-danger"></span>
            </div>

            <div class="col-sm-6 mb-2">
                <label asp-for="@Model.ReturnDate" class="form-label-add-edit">Created On</label>
                <input asp-for="@Model.ReturnDate" class="form-control" type="date" aria-required="true" value="@today"/>
                <span asp-validation-for="@Model.ReturnDate" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <button class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit">
                    <i class="fas fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/ServerProvider.js"></script>
<script src="~/js/HtmlUtil.js"></script>
<script>
    const searchUrl = '@ViewData["CompanyObjectSearchUrl"]';
    const bankPayMethod = 'Банка';
    const notDeductedPayMethod = 'Не Приспаднато';
</script>
<script src="~/js/ReturnProtocolSearch/CreateProtocolCompanyObjectSearchResult.js"></script>
<script src="~/js/search.js"></script>

