@using DelitaTrade.Core.ViewModels;
@model DetailReturnProtocolViewModel;
@{
    ViewData["Title"] = "Return Protocol Details";
}

<head>
    <link rel="stylesheet" href="~/css/ReturnProtocol/returnProtocol.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ReturnProtocol/warehouseBackground.css" asp-append-version="true" />
</head>

<div>
    <main>        
        <div class="details-display light-gray-80">
            <div>
                <p>@Model.ReturnedDate</p>
                <p>@Model.CompanyObjectName</p>
                <p>@Model.TraderName</p>
                <p>@Model.PayMethod</p>
            </div>
            <div class="action">
                <a asp-controller="ReturnProtocol" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a asp-controller="ReturnProtocol" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1">
                    <i class="fas fa-trash"></i> Delete
                </a>
            </div>
        </div>
    </main>
    
    <div>
        <h2>Return products</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Best before</th>
                    <th>Batch</th>
                    <th>Return category</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="protocolsTableBody">
                @if (Model.ReturnedProducts != null && Model.ReturnedProducts.Any())
                {
                    foreach (var product in Model.ReturnedProducts)
                    {
                        <tr class="light-gray-80">
                            <td>@product.Product.Name</td>
                            <td>@product.Quantity @product.Product.Unit</td>
                            <td>@product.BestBefore.ToString("dd/MM/yyyy")</td>
                            <td>@product.Batch</td>
                            <td>@product.DescriptionCategory.Name</td>
                            <td>@product.Description?.Description</td>
                            <td>
                                <a asp-controller="ReturnProduct" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Edit
                                </a>
                            </td>
                            <td>
                                <form asp-controller="ReturnProduct" asp-action="Delete" asp-route-id="@product.Id" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </form>
                            
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">Empty</td>
                    </tr>
                }

            </tbody>
        </table>
        <a asp-controller="ReturnProduct" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded">
            <i class="fas fa-save"></i> Add
        </a>
    </div>
</div>
